<dom-module id="comp-awdContactTypeMappings-create">
    <style>
         :host {
            display: block;
        }
    </style>

    <template>
            <content></content>
            <button class="btn btn-default btn-xs" data-bind="click: $root.OpenAwdContactTypeMappingsList">Back</button>
            <button class="btn btn-default btn-xs" data-bind="click: $root.SaveAwdContactTypeMappings">Save</button>
            <hr>
    
            <div class="loader-wrapper p-a-md " data-bind="visible: AwdContactTypeMappingsLoading()">
                <i class="fa fa-repeat fa-spin fa-1x"></i>
                <h4>loading</h4>
            </div>
    
            <div data-bind="visible: !AwdContactTypeMappingsLoading()">
                <div>
    
                    <div class="row" style="margin-bottom:3px;">
                        <div class="clearfix col-lg-8 col-md-12 p-x-0">
                            <strong class="col-sm-5 col-xs-12 control-label">Contact type</strong>
                            <span class="col-sm-7 col-xs-12"><select class="form-control" data-bind="options: availableContactTypes, optionsText: 'name', value: contacttypes, optionsCaption: 'Please select...'"  ></select></span>
                        </div>
                    </div>
    
                    <div class="row" style="margin-bottom:3px;">
                        <div class="clearfix col-lg-8 col-md-12 p-x-0">
                            <strong class="col-sm-5 col-xs-12 control-label">Name : </strong>
                            <span class="col-sm-7 col-xs-12"><input type="text" class="form-control" data-bind="value : name" /> </span>
                        </div>
                    </div>
    
                    <div class="row" style="margin-bottom:3px;">
                        <div class="clearfix col-lg-8 col-md-12 p-x-0">
                            <strong class="col-sm-5 col-xs-12 control-label">Description : </strong>
                            <span class="col-sm-7 col-xs-12"><input type="text" class="form-control" data-bind="value : description" /> </span>
                        </div>
                    </div>
    
                    <div class="row" style="margin-bottom:3px;">
                        <div class="clearfix col-lg-8 col-md-12 p-x-0">
                            <strong class="col-sm-5 col-xs-12 control-label">awdregion : </strong>
                            <span class="col-sm-7 col-xs-12"><input type="text" class="form-control" data-bind="value : awdregion"/> </span>
                        </div>
                    </div>
    
                    <div class="row" style="margin-bottom:3px;">
                        <div class="clearfix col-lg-8 col-md-12 p-x-0">
                            <strong class="col-sm-5 col-xs-12 control-label">awdcontactrole : </strong>
                            <span class="col-sm-7 col-xs-12"><input type="text" class="form-control" data-bind="value : awdcontactrole"/> </span>
                        </div>
                    </div>
    
                    <div class="row" style="margin-bottom:3px;margin-top:2px;">
                        <div class="clearfix col-lg-8 col-md-12 p-x-0">
                            <strong class="col-sm-5 col-xs-12 control-label">Inactive : </strong>
                            <span class="col-sm-7 col-xs-12"><input type="checkbox" data-bind="checked: inactiveState" text="inactive"  /> 
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div data-bind="visible : AwdContactTypeMappingsHasError()">
                <div data-bind="text: AwdContactTypeMappingsError()"></div>
            </div>

    </template>

    <!-- Uncomment the link below if this page will be used outside the application.
    This is the path of the js file relative to this html file.
    <script src="comp-awdContactTypeMappings-list-js-v1.js"></script> -->

    <script src="/comp-awdContactTypeMappings-create/js"></script>

    <script>
       Polymer({
        is: 'comp-awdContactTypeMappings-create',

        properties: {
            environmentUrl: {
                type: String,
                value: 'DEV'
            }
        },

        awdContactTypeMappingsModel: null,

        ready: function () {
            var self = this;
            self.awdContactTypeMappingsModel = new AwdContactTypeMappingsCreateViewModel(this);
            ko.applyBindings(self.awdContactTypeMappingsModel, this);
            var vm = self.awdContactTypeMappingsModel;
            vm.Initialize(self.environmentUrl, self, self.awdContactTypeMappingsModel);
            vm.GetContactTypes();
        }
    });
    </script>
</dom-module>