<dom-module id="comp-csiContactCategoryMappings-view">
    <style>
         :host {
            display: block;
        }
    </style>

    <template>
        <content></content>
        <button class="btn btn-default btn-xs" data-bind="click: $root.OpenCsiContactCategoryMappingsList">List</button>
        <button class="btn btn-default btn-xs" data-bind="click: $root.EditCsiContactCategoryMappings">Edit</button>

        <div data-bind="visible : CsiContactCategoryMappingsHasError()">
            <div data-bind="text: CsiContactCategoryMappingsError()"></div>
        </div>

        <hr>

        <div class="loader-wrapper p-a-md " data-bind="visible: CsiContactCategoryMappingsLoading()">
            <i class="fa fa-repeat fa-spin fa-1x"></i>
            <h4>loading</h4>
        </div>

        <div data-bind="visible: !CsiContactCategoryMappingsLoading()">
            <div>

                <div class="row" style="margin-bottom:3px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Contact type</strong>
                        <span class="col-sm-7 col-xs-12"><select class="form-control" data-bind="options: availableContactTypes, optionsText: 'name', value: contacttypes, optionsCaption: 'Please select...'"  disabled="disabled" ></select></span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:3px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Csi Contact categories</strong>
                        <span class="col-sm-7 col-xs-12"><select class="form-control" data-bind="options: availableCsiContactCategories, optionsText: 'name', value: csiContactCategories, optionsCaption: 'Please select...'"  disabled="disabled" ></select></span>
                    </div>
                </div>


                <div class="row" style="margin-bottom:3px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Name : </strong>
                        <span class="col-sm-7 col-xs-12"><input type="text" class="form-control" data-bind="value : name" disabled="disabled"/> </span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:3px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Description : </strong>
                        <span class="col-sm-7 col-xs-12"><input type="text" class="form-control" data-bind="value : description" disabled="disabled"/> </span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:3px;" data-bind="visible: inactivechecked">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Inactive date : </strong>
                        <span class="col-sm-7 col-xs-12"><input type="text" class="form-control" data-bind="value : inactivedate" disabled="disabled"/> </span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:3px;margin-top:2px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Inactive : </strong>
                        <span class="col-sm-7 col-xs-12"><input type="checkbox" data-bind="checked: inactivechecked" text="inactive"  disabled="disabled" /> 
                            </span>
                    </div>
                </div>
            </div>
        </div>

    </template>

    <!-- Uncomment the link below if this page will be used outside the application.
    This is the path of the js file relative to this html file.
    <script src="comp-csiContactCategoryMappings-list-js-v1.js"></script> -->

    <script src="/comp-csiContactCategoryMappings-view/js"></script>

    <script>
        Polymer({
            is: 'comp-csiContactCategoryMappings-view',

            properties: {
                environmentUrl: {
                    type: String,
                    value: 'DEV'
                }
            },

            CsiContactCategoryMappingsViewViewModel: null,

            ready: function () {
                var self = this;
                var itemId = applicationTools.getqueryValue("id");
                self.CsiContactCategoryMappingsViewViewModel = new CsiContactCategoryMappingsViewViewModel(this);
                ko.applyBindings(self.CsiContactCategoryMappingsViewViewModel, this);
                var vm = self.CsiContactCategoryMappingsViewViewModel;
                vm.Initialize(self.environmentUrl, self, self.CsiContactCategoryMappingsViewViewModel, itemId);
                vm.GetCsiContactCategories(); 
                vm.GetContactTypes();                            
                vm.GetCsiContactCategoryMappingsById();

            }
        });
    </script>
</dom-module>