<dom-module id="comp-signatureItems-view">
    <style>
        :host {
            display: block;
        }
    </style>

    <template>
        <content></content>
        <button class="btn btn-default " data-bind="click: $root.OpenSignatureItemsList">List</button>
        <div data-bind="visible : SignatureItemsHasError()">
            <div data-bind="text: SignatureItemsError()"></div>
        </div>

        <hr>

        <div class="loader-wrapper p-a-md " data-bind="visible: SignatureItemsLoading()">
            <i class="fa fa-repeat fa-spin fa-1x"></i>
            <h4>loading</h4>
        </div>

        <div data-bind="visible: !SignatureItemsLoading()">
            <div>
                <div class="row" style="margin-bottom:3px;" data-bind="visible: inactivechecked">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <span class="col-sm-12 col-xs-12">
                            <span class="glyphicon glyphicon-ban-circle" style="color:red"></span>&nbsp;
                            <span style="color:red">Inactive on </span>
                            <span style="color:red" data-bind="text : inactivedate, visible: inactivechecked"></span>
                        </span>
                    </div>
                </div>


                <div class="row" style="margin-bottom:3px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Contact type</strong>
                        <span class="col-sm-7 col-xs-12">
                            <span data-bind="text : contacttypeidname" /></span>
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-bottom:3px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Field item</strong>
                        <span class="col-sm-7 col-xs-12">
                            <span data-bind="text : fielditemdescription" /></span>
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-bottom:3px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Sequence</strong>
                        <span class="col-sm-7 col-xs-12">
                            <span data-bind="text : sequence" /></span>
                        </span>
                    </div>
                </div>
                <hr> The label is '
                <span data-bind="text : fielditemlabel"></span>',and the value is '
                <span data-bind="text : fielditemvalue"></span>'
                <br/> Below is an example of what this will look like.
                <br/>
                <hr>
                <div class="row" style="margin-bottom:3px;">
                    <div class="clearfix col-lg-12 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">
                            <span data-bind="text : fielditemlabel" /></span>
                        </strong>
                        <span class="col-sm-7 col-xs-12">
                            <span data-bind="text : fielditemvalue" /></span>
                        </span>
                    </div>
                </div>
                <hr>

            </div>
            
        <button class="btn btn-default" data-bind="click: $root.EditSignatureItems">Edit</button>

        
        </div>

    </template>

    <!-- Uncomment the link below if this page will be used outside the application.
    This is the path of the js file relative to this html file.
    <script src="comp-signatureItems-list-js-v1.js"></script> -->

    <script src="/comp-signatureItems-view/js"></script>

    <script>
        Polymer({
            is: 'comp-signatureItems-view',

            properties: {
                environmentUrl: {
                    type: String,
                    value: 'DEV'
                }
            },

            SignatureItemsModel: null,

            ready: function () {
                var self = this;
                var itemId = applicationTools.getqueryValue("id");
                self.SignatureItemsModel = new SignatureItemsViewViewModel(this);
                ko.applyBindings(self.SignatureItemsModel, this);
                var vm = self.SignatureItemsModel;
                vm.Initialize(self.environmentUrl, self, self.SignatureItemsModel, itemId);
                vm.GetSignatureItemById();
            }
        });
    </script>
</dom-module>