<dom-module id="comp-contactTypes-edit">
    <style>
        :host {
            display: block;
        }
    </style>

    <template>
        <content></content>
        <button class="btn btn-default" data-bind="click: $root.OpenContactTypesList">List</button>
        <button class="btn btn-default" data-bind="click: $root.OpenContactTypes">View</button>



        <hr>

        <div class="loader-wrapper p-a-md " data-bind="visible: ContactTypesLoading()">
            <i class="fa fa-repeat fa-spin fa-1x"></i>
            <h4>loading</h4>
        </div>

        <div data-bind="visible: !ContactTypesLoading()">
            <div>

                <div class="row" style="margin-bottom:3px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Name</strong>
                        <span class="col-sm-7 col-xs-12">
                            <input type="text" class="form-control" data-bind="value : name" /> </span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:3px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Description</strong>
                        <span class="col-sm-7 col-xs-12">
                            <input type="text" class="form-control" data-bind="value : description" /> </span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:3px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Email address</strong>
                        <span class="col-sm-7 col-xs-12">
                            <input type="text" class="form-control" data-bind="value : emailaddress" /> </span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:3px;" data-bind="visible: inactivechecked">
                    <!-- <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Inactive date</strong>
                        <span class="col-sm-7 col-xs-12">
                            <input type="text" class="form-control" data-bind="value : inactivedate" /> </span>
                    </div> -->
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-12 col-xs-12 control-label" style="color:red">This record is in an inactive state, and will not be available on the dropdown lists for signature selection.</strong>
                        <!-- <span class="col-sm-7 col-xs-12">
                            <input type="text" class="form-control" data-bind="value : inactivedate" /> </span> -->
                    </div>
                </div>

                <div class="row" style="margin-bottom:3px;margin-top:2px;">
                    <div class="clearfix col-lg-8 col-md-12 p-x-0">
                        <strong class="col-sm-5 col-xs-12 control-label">Tick to set to inactive</strong>
                        <span class="col-sm-7 col-xs-12">
                            <input type="checkbox" data-bind="checked: inactivechecked" text="inactive" />
                        </span>
                    </div>
                </div>
            </div>
            <hr>
            <button class="btn btn-default" data-bind="click: $root.SaveContactTypes">Save</button>
        </div>
        <hr>
        <div data-bind="visible : ContactTypesHasError()">
            <div data-bind="text: ContactTypesError()"></div>
        </div>

    </template>

    <!-- Uncomment the link below if this page will be used outside the application.
    This is the path of the js file relative to this html file.
    <script src="comp-ContactTypes-list-js-v1.js"></script> -->

    <script src="/comp-contactTypes-edit/js"></script>

    <script>
        Polymer({
            is: 'comp-contactTypes-edit',

            properties: {
                environmentUrl: {
                    type: String,
                    value: 'DEV'
                }
            },

            ContactTypesModel: null,

            ready: function () {
                var self = this;
                var itemId = applicationTools.getqueryValue("id");
                self.ContactTypesModel = new ContactTypesEditViewModel(this);
                ko.applyBindings(self.ContactTypesModel, this);
                var vm = self.ContactTypesModel;
                vm.Initialize(self.environmentUrl, self, self.ContactTypesModel, itemId);
                vm.GetContactTypeById();
            }
        });
    </script>
</dom-module>