<dom-module id="comp-csiContactCategoryMappings-list">
    <style>
         :host {
            display: block;
        }
    </style>

    <template>
        <content></content>
        <button class="btn btn-default btn-xs" data-bind="click: $root.CreateCsiContactCategoryMappings">Add a new CSI contact category mapping</button>

        <div class="loader-wrapper p-a-md " data-bind="visible: CsiContactCategoryMappingsLoading()">
            <i class="fa fa-repeat fa-spin fa-1x"></i>
            <h4>loading</h4>
        </div>

        <div data-bind="visible : CsiContactCategoryMappingsHasError()">
            <div data-bind="text: CsiContactCategoryMappingsError()"></div>
        </div>
        <hr>
        <div data-bind="visible : CsiContactCategoryMappingsList().length < 1 && !CsiContactCategoryMappingsLoading()" class="alert alert-info m-t alert-dismissible"
            role="alert" role="alert">
            <div class="fa fa-info-circle fa-lg alert-icon"></div>
            <strong>INFO: </strong>There are currently no items in the list.
        </div>

        <div class="table-responsive" data-bind="visible : CsiContactCategoryMappingsList().length > 0 && !CsiContactCategoryMappingsLoading()">
            <table class="table  table-striped">
                <thead>

                    <tr>
                        <th style="font-size:12px;width: 5%;" class="hidden-xs">Id</th>
                        <th style="font-size:12px;width: 10%;">Contact type</th>
                        <th style="font-size:12px;width: 10%;">CSI contact category</th>
                        <th style="font-size:12px;width: 15%;">Name</th>
                        <th style="font-size:12px;width: 15%;">Description</th>
                        <th style="font-size:12px;width: 5%;">Active</th>
                        <th style="font-size:12px;width: 10%;">Actions</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach : CsiContactCategoryMappingsList()">
                    <tr>
                        <td style="font-size:12px;" data-bind="text : csicontactcategorymappingid" class="hidden-xs"></td>                        
                        <td style="font-size:12px;" data-bind="text : contacttypeidstring"></td>
                        <td style="font-size:12px;" data-bind="text : csicontactcategoryidstring"></td>
                        <td style="font-size:12px;" data-bind="text : name"></td>
                        <td style="font-size:12px;" data-bind="text : description"></td>
                        <td style="font-size:12px;">
                            <span class="glyphicon glyphicon-ok-circle" style="color:green" data-bind="visible : !inactivechecked"></span>
                            <span class="glyphicon glyphicon-ban-circle" style="color:red" data-bind="visible : inactivechecked"></span>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" data-bind="click: $root.OpenCsiContactCategoryMappings">Open</button>
                            <button class="btn btn-default btn-xs" data-bind="click: $root.EditCsiContactCategoryMappings">Edit</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </template>

    <!-- Uncomment the link below if this page will be used outside the application.
    This is the path of the js file relative to this html file.
    <script src="comp-csiContactCategoryMappings-list-js-v1.js"></script> -->

    <script src="/comp-csiContactCategoryMappings-list/js"></script>

    <script>
        Polymer({
            is: 'comp-csiContactCategoryMappings-list',

            properties: {
                environmentUrl: {
                    type: String,
                    value: 'DEV'
                }
            },

            CsiContactCategoryMappingsModel: null,

            ready: function () {
                var self = this;

                self.CsiContactCategoryMappingsModel = new CsiContactCategoryMappingsListViewModel(this);
                ko.applyBindings(self.CsiContactCategoryMappingsModel, this);
                var vm = self.CsiContactCategoryMappingsModel;
                vm.Initialize(self.environmentUrl, self, self.CsiContactCategoryMappingsModel);
                vm.GetCsiContactCategoryMappings();
            }
        });
    </script>
</dom-module>