<dom-module id="comp-fieldItems-list">
    <style>
         :host {
            display: block;
        }
    </style>

    <template>
        <content></content>
        <button class="btn btn-default btn-xs" data-bind="click: $root.CreateFieldItems">Add a new field item</button>

        <div class="loader-wrapper p-a-md " data-bind="visible: FieldItemsLoading()">
            <i class="fa fa-repeat fa-spin fa-1x"></i>
            <h4>loading</h4>
        </div>

        <div data-bind="visible : FieldItemsHasError()">
            <div data-bind="text: FieldItemsError()"></div>
        </div>
        <hr>
        <div data-bind="visible : FieldItemsList().length < 1 && !FieldItemsLoading()" class="alert alert-info m-t alert-dismissible"
            role="alert" role="alert">
            <div class="fa fa-info-circle fa-lg alert-icon"></div>
            <strong>INFO: </strong>There are currently no items in the list.
        </div>

        <div class="table-responsive" data-bind="visible : FieldItemsList().length > 0 && !FieldItemsLoading()">
            <table class="table  table-striped">
                <thead>

                    <tr>
                        <th style="font-size:12px;width: 5%;" class="hidden-xs">Id</th>
                        <th style="font-size:12px;width: 10%;">Lang</th>
                        <th style="font-size:12px;width: 10%;">FieldType</th>
                        <th style="font-size:12px;width: 10%;">Name</th>
                        <th style="font-size:12px;width: 20%;">desc</th>
                        <th style="font-size:12px;width: 10%;">Label</th>
                        <th style="font-size:12px;width: 10%;">Value</th>
                        <th style="font-size:12px;width: 5%;">pf</th>
                        <th style="font-size:12px;width: 5%;">Active</th>
                        <th style="font-size:12px;width: 15%;">Actions</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach : FieldItemsList()">
                    <tr>
                        <td style="font-size:12px;" data-bind="text : fielditemid" class="hidden-xs"></td>                        
                        <td style="font-size:12px;" data-bind="text : languageidstring"></td>
                        <td style="font-size:12px;" data-bind="text : fieldtypeidstring"></td>
                        <td style="font-size:12px;" data-bind="text : name"></td>
                        <td style="font-size:12px;" data-bind="text : description"></td>
                        <td style="font-size:12px;" data-bind="text : label"></td>
                        <td style="font-size:12px;" data-bind="text : value"></td>
                        <td style="font-size:12px;" data-bind="text : printformat"></td>
                        <td style="font-size:12px;">
                            <span class="glyphicon glyphicon-ok-circle" style="color:green" data-bind="visible : !inactivechecked"></span>
                            <span class="glyphicon glyphicon-ban-circle" style="color:red" data-bind="visible : inactivechecked"></span>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" data-bind="click: $root.OpenFieldItems">Open</button>
                            <button class="btn btn-default btn-xs" data-bind="click: $root.EditFieldItems">Edit</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </template>

    <!-- Uncomment the link below if this page will be used outside the application.
    This is the path of the js file relative to this html file.
    <script src="comp-fieldItems-list-js-v1.js"></script> -->

    <script src="/comp-fieldItems-list/js"></script>

    <script>
        Polymer({
            is: 'comp-fieldItems-list',

            properties: {
                environmentUrl: {
                    type: String,
                    value: 'DEV'
                }
            },

            FieldItemsModel: null,

            ready: function () {
                var self = this;

                self.FieldItemsModel = new FieldItemsListViewModel(this);
                ko.applyBindings(self.FieldItemsModel, this);
                var vm = self.FieldItemsModel;
                vm.Initialize(self.environmentUrl, self, self.FieldItemsModel);
                vm.GetFieldItems();
            }
        });
    </script>
</dom-module>