{
	"swagger": "2.0",
	"info": {
		"description": "This is a email enhancement system , that adds signatures at the bottom of emails or any other electronic correspondence.",
		"version": "1.0.0",
		"title": "Mail enhancement API documentation"
	},
	"host": "devtest.mmiholdings.co.za:4010",
	"basePath": "/MailEnhancement/api/v1/",
	"tags": [
		{"name": "ContactTypes",
			"description": "Contact types with email address linked to contact type.",
			"externalDocs": {
				"description": "Base",
				"url": "http://devtest.mmiholdings.co.za:4010/"
			}
		},
		{"name": "FieldTypes",
			"description": "Field types.",
			"externalDocs": {
				"description": "Base",
				"url": "http://devtest.mmiholdings.co.za:4010/"
			}
		},
		{"name": "Languages",
			"description": "Languages that can be chosen from.",
			"externalDocs": {
				"description": "Base",
				"url": "http://devtest.mmiholdings.co.za:4010/"
			}
		},		
		{"name": "FieldItems",
			"description": "Field items that can be chosen from.",
			"externalDocs": {
				"description": "Base",
				"url": "http://devtest.mmiholdings.co.za:4010/"
			}
		},
		{"name": "SignatureItems",
			"description": "Signature items that can be chosen from.",
			"externalDocs": {
				"description": "Base",
				"url": "http://devtest.mmiholdings.co.za:4010/"
			}
		}
		
	],
	"schemes": [
		"http"
	],
	"paths": {
		"/ContactTypes": {
			"get": {
				"tags": [
					"ContactTypes"
				],
				"description": "Get all the contact types from the database.",
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},

			"post": {
				"tags": [
					"ContactTypes"
				],
				"description": "Create a new contact type on the database.",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Contact types that needs to be added to the system",
						"required": true,
						"schema": {
							"$ref": "#/definitions/ContactTypesModel"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}

		},
		"/ContactTypes/EmailAddress/{EmailAddress}": {
			"get": {
				"tags": [
					"ContactTypes"
				],
				"description": "Get all the contact type records from the database that has the supplied email address.",
				"parameters": [
					{
					"name": "EmailAddress",
					"in": "path",
					"description": "EmailAddress of a contact type that needs to be fetched",
					"required": true,
					"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}
		},
		"/ContactTypes/{Id}": {
			"get": {
				"tags": [
					"ContactTypes"
				],
				"description": "Get the contact type record from the database by the database id.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Database id of contact type that needs to be fetched",
					"required": true,
					"type": "integer",
					"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},
			"put":{
				"tags": [
					"ContactTypes"
				],
				"description": "Update a contact type record on the database with the details supplied , and the id of the record on the database.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of contact type that needs to be edited",
					"required": true,
					"type": "integer",
					"format": "int32"
					},
					{
						"in": "body",
						"name": "body",
						"description": "Id of the contact type that needs to be edited",
						"required": true,
						"schema": {
							"$ref": "#/definitions/ContactTypesModel"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},
			"delete": {
				"tags": [
					"ContactTypes"
				],
				"description": "Delete a  contact type record from the database.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of contact type that needs to be removed",
					"required": true,
					"type": "integer",
					"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}
		},
		
		"/FieldTypes": {
			"get": {
				"tags": [
					"FieldTypes"
				],
				"description": "Get all the field types from the database.",
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},

			"post": {
				"tags": [
					"FieldTypes"
				],
				"description": "Create a new field type on the database.",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "field type that needs to be added to the system",
						"required": true,
						"schema": {
							"$ref": "#/definitions/FieldTypesModel"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}

		},
		"/FieldTypes/{Id}": {
			"get": {
				"tags": [
					"FieldTypes"
				],
				"description": "Get the field type from the database by the id.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of field type that needs to be fetched",
					"required": true,
					"type": "integer",
					"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},
			"put":{
				"tags": [
					"FieldTypes"
				],
				"description": "Update a field type record on the database.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of field type that needs to be edited",
					"required": true,
					"type": "integer",
					"format": "int32"
					},
					{
						"in": "body",
						"name": "body",
						"description": "field type that needs to be edited",
						"required": true,
						"schema": {
							"$ref": "#/definitions/FieldTypesModel"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},
			"delete": {
				"tags": [
					"FieldTypes"
				],
				"description": "Delete a field type record from the database.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of field type that needs to be removed",
					"required": true,
					"type": "integer",
					"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}
		},
		
		"/Languages": {
			"get": {
				"tags": [
					"Languages"
				],
				"description": "Get all the languages from the database.",
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},

			"post": {
				"tags": [
					"Languages"
				],
				"description": "Create a new language on the database.",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "language that needs to be added to the system",
						"required": true,
						"schema": {
							"$ref": "#/definitions/LanguagesModel"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}

		},
		"/Languages/{Id}": {
			"get": {
				"tags": [
					"Languages"
				],
				"description": "Get the language from the database by the id.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of language that needs to be fetched",
					"required": true,
					"type": "integer",
					"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},
			"put":{
				"tags": [
					"Languages"
				],
				"description": "Update a language record on the database.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of language that needs to be edited",
					"required": true,
					"type": "integer",
					"format": "int32"
					},
					{
						"in": "body",
						"name": "body",
						"description": "language that needs to be edited",
						"required": true,
						"schema": {
							"$ref": "#/definitions/LanguagesModel"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},
			"delete": {
				"tags": [
					"Languages"
				],
				"description": "Delete a language record from the database.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of language that needs to be removed",
					"required": true,
					"type": "integer",
					"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}
		},
		
		
		"/SignatureItems": {
			"get": {
				"tags": [
					"SignatureItems"
				],
				"description": "Get all the signature items from the database.",
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},

			"post": {
				"tags": [
					"SignatureItems"
				],
				"description": "Create a new signature item on the database.",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "signature item that needs to be added to the system",
						"required": true,
						"schema": {
							"$ref": "#/definitions/SignatureItemsModel"
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}

		},
		"/SignatureItems/{Id}": {
			"get": {
				"tags": [
					"SignatureItems"
				],
				"description": "Get the language from the database by the id.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of language that needs to be fetched",
					"required": true,
					"type": "integer",
					"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},
			"put":{
				"tags": [
					"SignatureItems"
				],
				"description": "Update a language record on the database.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of language that needs to be edited",
					"required": true,
					"type": "integer",
					"format": "int32"
					},
					{
						"in": "body",
						"name": "body",
						"description": "language that needs to be edited",
						"required": true,
						"schema": {
							"$ref": "#/definitions/SignatureItemsModel"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},
			"delete": {
				"tags": [
					"SignatureItems"
				],
				"description": "Delete a language record from the database.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of language that needs to be removed",
					"required": true,
					"type": "integer",
					"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}
		},
		"/SignatureItems/EmailAddress/{EmailAddress}": {
			"get": {
				"tags": [
					"SignatureItems"
				],
				"description": "Get all the signature items records from the database that has the supplied email address.",
				"parameters": [
					{
					"name": "EmailAddress",
					"in": "path",
					"description": "EmailAddress of signature items that needs to be fetched",
					"required": true,
					"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}
		},		
		"/SignatureItems/ContactTypes/{Id}": {
			"get": {
				"tags": [
					"SignatureItems"
				],
				"description": "Get all the signature items records from the database that has the supplied email address.",
				"parameters": [
					{
					"name": "Id",
					"in": "path",
					"description": "Id of signature item's contact types that needs to be fetched",
					"required": true,
					"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}
		}
		
		
		
	
	
	
	
	},
	"definitions": {
		"ContactTypesModel": {
			"type": "object",
			"required": [
				"name",
				"description",
				"emailAddress"
			],
			"properties": {
				"name": {
					"type": "string",
					"example": "name"
				},
				"description": {
					"type": "string",
					"example": "description"
				},
				"emailAddress": {
					"type": "string",
					"example": "emailAddress"
				},
				"inActive": {
					"type": "boolean",
					"example": false
				}
			}
		},
		
		"FieldTypesModel": {
			"type": "object",
			"required": [
				"name",
				"description"
			],
			"properties": {
				"name": {
					"type": "string",
					"example": "name"
				},
				"description": {
					"type": "string",
					"example": "description"
				},
				"inActive": {
					"type": "string",
					"example": "0"
				}
			}
		},
		
		"LanguagesModel": {
			"type": "object",
			"required": [
				"name",
				"description",
				"code"
			],
			"properties": {
				"name": {
					"type": "string",
					"example": "name"
				},
				"description": {
					"type": "string",
					"example": "description"
				},
				"code": {
					"type": "string",
					"example": "code"
				},
				"inActive": {
					"type": "string",
					"example": "0"
				}
			}
		},	
		
		"SignatureItemsModel": {
			"type": "object",
			"required": [
				"contactTypeId",
				"fieldTypeId",
				"languageId",
				"csiContactCategoryId",
				"csiContactTypeId",
				"csiMainContactTypeId",
				"sequence",
				"label",
				"value",
				"printFormat"
			],
			"properties": {
				"contactTypeId": {
					"type": "integer",
					"format": "int32",
					"example": 1
				},
				"fieldTypeId": {
					"type": "integer",
					"format": "int32",
					"example": 1
				},
				"languageId": {
					"type": "integer",
					"format": "int32",
					"example": 1
				},
				"csiContactCategoryId": {
					"type": "integer",
					"format": "int32",
					"example": 1
				},
				"csiContactTypeId": {
					"type": "integer",
					"format": "int32",
					"example": 1
				},
				"csiMainContactTypeId": {
					"type": "integer",
					"format": "int32",
					"example": 1
				},
				"sequence": {
					"type": "integer",
					"format": "int32",
					"example": 1
				},
				"label": {
					"type": "string",
					"example": "label"
				},
				"value": {
					"type": "string",
					"example": "value"
				},
				"printFormat": {
					"type": "string",
					"example": "printFormat"
				},
				"inActive": {
					"type": "string",
					"example": "0"
				}
			}
		}
	
	
	
	
	
	
	
	}
}