<dom-module id="comp-csiContactTypeMappings-list">
    <style>
         :host {
            display: block;
        }
    </style>

    <template>
        <content></content>
        <button class="btn btn-default btn-xs" data-bind="click: $root.CreateCsiContactTypeMappings">Add a new csi contact type mapping</button>

        <div class="loader-wrapper p-a-md " data-bind="visible: CsiContactTypeMappingsLoading()">
            <i class="fa fa-repeat fa-spin fa-1x"></i>
            <h4>loading</h4>
        </div>

        <div data-bind="visible : CsiContactTypeMappingsHasError()">
            <div data-bind="text: CsiContactTypeMappingsError()"></div>
        </div>
        <hr>
        <div data-bind="visible : CsiContactTypeMappingsList().length < 1 && !CsiContactTypeMappingsLoading()" class="alert alert-info m-t alert-dismissible"
            role="alert" role="alert">
            <div class="fa fa-info-circle fa-lg alert-icon"></div>
            <strong>INFO: </strong>There are currently no items in the list.
        </div>

        <div class="table-responsive" data-bind="visible : CsiContactTypeMappingsList().length > 0 && !CsiContactTypeMappingsLoading()">
            <table class="table  table-striped">
                <thead>

                    <tr>
                        <th style="font-size:12px;width: 5%;" class="hidden-xs">Id</th>
                        <th style="font-size:12px;width: 20%;">Contact type</th>
                        <th style="font-size:12px;width: 20%;">CSI contact type</th>
                        <th style="font-size:12px;width: 10%;">Name</th>
                        <th style="font-size:12px;width: 30%;">Description</th>
                        <th style="font-size:12px;width: 5%;">Active</th>
                        <th style="font-size:12px;width: 10%;">Actions</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach : CsiContactTypeMappingsList()">
                    <tr>
                        <td style="font-size:12px;" data-bind="text : csicontacttypemappingid" class="hidden-xs"></td>
                        <td style="font-size:12px;" data-bind="text : contacttypeidstring"></td>
                        <td style="font-size:12px;" data-bind="text : csicontacttypeidstring"></td>
                        <td style="font-size:12px;" data-bind="text : name"></td>
                        <td style="font-size:12px;" data-bind="text : description"></td>
                        <td style="font-size:12px;">
                            <span class="glyphicon glyphicon-ok-circle" style="color:green" data-bind="visible : !inactivechecked"></span>
                            <span class="glyphicon glyphicon-ban-circle" style="color:red" data-bind="visible : inactivechecked"></span>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" data-bind="click: $root.OpenCsiContactTypeMappings">Open</button>
                            <button class="btn btn-default btn-xs" data-bind="click: $root.EditCsiContactTypeMappings">Edit</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </template>

    <!-- Uncomment the link below if this page will be used outside the application.
    This is the path of the js file relative to this html file.
    <script src="comp-csiContactTypeMappings-list-js-v1.js"></script> -->

    <script src="/comp-csiContactTypeMappings-list/js"></script>

    <script>
        Polymer({
            is: 'comp-csiContactTypeMappings-list',

            properties: {
                environmentUrl: {
                    type: String,
                    value: 'DEV'
                }
            },

            CsiContactTypeMappingsModel: null,

            ready: function () {
                var self = this;

                self.CsiContactTypeMappingsModel = new CsiContactTypeMappingsListViewModel(this);
                ko.applyBindings(self.CsiContactTypeMappingsModel, this);
                var vm = self.CsiContactTypeMappingsModel;
                vm.Initialize(self.environmentUrl, self, self.CsiContactTypeMappingsModel);
                vm.GetCsiContactTypeMappings();
            }
        });
    </script>
</dom-module>